* {
    margin: 0px;
    padding: 0px;
}

body{
    min-width: 100vw;
    min-height: 100vh;
}

.container,
.row,
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.row {
    max-height: fit-content;
}
.container {
    flex-direction: column;
}

.square {
    background-color: gainsboro;
}
.active {
    background: black;
}