* {
    margin: 0px;
    padding: 0px;
}

body{
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    background-color: aquamarine;
}

.container,
.row,
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    max-height: fit-content;
}
.container {
    flex-direction: column;
}

.square {
    background-color: ghostwhite;
}
.active {
    background: black;
}

button {
    padding: 15px;
    border: 0;
}